.Tabs-Item {
  &_state_active {
            color: var(--primary);
            position: relative;

            &:after {
                content: '';
                width: 100%;
                position: absolute;
                bottom: -12px;
                left: 0;
                right: 0;
                height: 0.5em;
                border-bottom: 2px solid var(--border);
            }
        }
}