.Editor {
  &-Action {
    box-sizing: border-box;
    width: 38px;
    height: 28px;
    background-image: url('download.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}
