.History {
  &-Title {
    margin-bottom: var(--space-m);
    color: var(--secondary);
    font-weight: bold;
  }

  &:elem(row) {
    box-sizing: border-box;
    margin: 0 0 0 19px;
    padding: 0 0 var(--space-m) 31px;
    border-left: 2px solid var(--ghost);

    &:last-of-type {
      padding-bottom: 0;
      border-left: none;
    }
  }
}
