.Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--space-m) var(--space-xxl) 18px;
    font-family: var(--font);
    font-size: var(--font-xs);
    line-height: var(--line-s);
    color: var(--secondary);

    @media screen and (max-width: 600px) {
        padding: var(--space-m) var(--space-m) 18px;
        display: none;
    }

    

    
}
