.History {
  &-Link {
    position: absolute;
    right: 0;

    &:after {
      width: 16px;
      height: 16px;
      background-image: url('code.svg');
      visibility: visible;
      content: '';
    }
  }
}
