.BranchInfo {
  &-Name {
    margin-right: var(--space-xxs);
    color: var(--primary);
    font-weight: bold;
    font-size: var(--font-l);
    line-height: var(--line-l);
    letter-spacing: -0.3px;
  }
}
