.Burger {
  &-Item {
    position: relative;
    display: block;
    width: 12px;
    height: 2px;
    margin-bottom: var(--space-xxxxs);
    background: var(--primary);
    border-radius: 3px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
