.Theme {
  &_color_project-default {
        --default: #fff;
        --plain: #e6e6e6;
        --accented: #ff3029;
        --border: #ff4f49;
        --border-ghost: #f0f2f3;
        --border-faded: #e5e5e5;
        --background-ghost: #f1f8ff;
        --inverse: #4f4f4f;
        --pale: #fafbfc;
        --primary: #000;
        --secondary: #7f8285;
        --secondary-text: #434445;
        --tertiary: #8694a2;
        --ghost: #b8bec3;
        --faded: #c4c4c4;
        --link-1: #177ffd;
        --link-2: #1774e9;
        --success: #19bc4d;
        --editor-link: #005fba;
        --editor-primary: #00234b;
        --editor-comment: #9ea9b4;
        --editor-header: #f5f5f5;
        --editor-number: #c7c7c7;
        --editor-main: #00234b;
        --diff-reserved: #0433ff;
        --diff-accented: #b4261a;
        --diff-comment: #3ba93b;
        --added-backgound: #e6ffed;
        --deleted-background: #ffeef0;
        --branch: #ff5668;
        --purple: #6b69c7;
        --line: #f0f2f3;
        --line-darker: #e5e5e5
    }
}