.BreadCrumbs {
  &-Item {
    &:after {
      position: relative;
      top: 1px;
      margin: 0 var(--space-s);
      content: '/';
    }

    &:only-of-type {
      color: var(--primary);
    }

    &:last-of-type {
      color: var(--primary);
      font-weight: bold;

      &:after {
        margin: 0;
        content: '';
      }
    }
  }
}
