.GitLogRow {
  $mobile-breakpoint: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--primary);
  font-size: var(--font-s);
  font-family: var(--font);
  line-height: var(--line-m);
}
