$mobile-breakpoint: 600px;

:block(git-log-row) {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--primary);
  font-size: var(--font-s);
  font-family: var(--font);
  line-height: var(--line-m);

  &:elem(message) {
    margin-right: var(--space-xs);
  }

  &:elem(arrow) {
    position: absolute;
    top: 45%;
    right: 0;
  }

  &:elem(title) {
    font-weight: bold;
  }
}
