.History {
  position: relative;
  margin-top: var(--space-l);
  font-size: var(--font-m);
  font-family: var(--font);
  line-height: var(--line-m);

  &:before {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("history.svg");
    content: "";
  }
}
