.History {
  margin-top: var(--space-l);
  font-family: var(--font);
  font-size: var(--font-m);
  line-height: var(--line-m);
  position: relative;

  

    &:before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      background-image: url('history.svg');
    }
  }

  

    
  }
}
