.File {
  &-Icon {
        width: 12px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: var(--space-xxs);

        

        

        

        

        
    }
}