.BreadCrumbs {
    display: flex;
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
    font-family: var(--font);
    color: var(--secondary);
    font-size: var(--font-s);

    

    

    
}
