.Editor {
  &-Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: var(--font-s);
    font-family: var(--font);
    line-height: var(--line-m);
    border-radius: 4px;

    @media screen and (max-width: 600px) {
      padding-top: var(--space-xxs);
      padding-bottom: 6px;
      border-radius: 0;
    }
  }
}
