.History {
  &.Link {
    position: absolute;
    right: 0;
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      visibility: visible;
      background-image: url('code.svg');
    }
}