.Table {
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-s);
    line-height: var(--line-m);
    color: var(--primary);
    box-sizing: border-box;
    border-collapse: collapse;

    

    

    

    
}
