.Footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-m) var(--space-xxl) 18px;
  color: var(--secondary);
  font-size: var(--font-xs);
  font-family: var(--font);
  line-height: var(--line-s);

  @media screen and (max-width: 600px) {
    display: none;
    padding: var(--space-m) var(--space-m) 18px;
  }
}
