.Editor {
  position: relative;
  margin-right: var(--space-xxl);
  margin-left: var(--space-xxl);
  border-radius: 4px;

  @media screen and (max-width: 600px) {
    margin-right: 0;
    margin-left: 0;
    border: none;
  }
}
