.Header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--border-ghost);
    box-sizing: border-box;
    padding: var(--space-m) var(--space-xxl) 18px;
    font-family: var(--font);
    align-items: flex-end;
    color: var(--primary);

    @media screen and (max-width: 600px) {
        padding: var(--space-m) var(--space-m) 18px;
    }




}
