.BranchInfo {
  &-Name {
        font-size: var(--font-l);
        line-height: var(--line-l);
        color: var(--primary);
        font-weight: bold;
        margin-right: var(--space-xxs);
        letter-spacing: -.3px;

        
    }
}